*.o
*.a
linux-0.11/Image
linux-0.11/System.map
linux-0.11/boot/bootsect
linux-0.11/boot/setup
linux-0.11/tools/build
linux-0.11/tools/system
linux-0.11/kernel/chr_drv/keyboard.s
hdc-0.11.img
bochsout.txt


